* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(255, 251, 0);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logo img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid white;
}

nav {
    background-color: cyan;
}

main {
    background-color: darkorchid;
}

img {
    width: 100%;
    margin: auto;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    line-height: 25px;
}

p {
    text-align: center;
}

.imagen1 {
    width: 50%;
    background-color: darkolivegreen;
    /* padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 40px; */
    padding: 10px 20px;
    border: 2px double white;
    margin: 40px auto;
    outline: 7px double;
    box-shadow: 9px 9px 9px 9px red;
}

.color {
    padding: 10px 20px;
    border: 2px solid black;
    margin: 20px auto;
    outline: 3px solid blue;
    box-shadow: 9px 9px 9px 9px red;
}

h1 {
    color: blue;
    text-shadow: 4px 4px 8px red;
    padding: 10px;
}

h1 {
    color: chocolate;
}

h2 {
    color: orange;
}

section > h2 {
    color: blue;
    /* el signo mayor (>) quiere decir hijo directo de */
}

.imagen1 + p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bloque img {
    width: 250px;
    padding: 30px;
    display: block;
}

nav {
    padding: 20px;
    text-align: center;
}

nav a {
    background-color: rgb(86, 214, 36);
    border-radius: 30px;
    padding: 5px;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

nav a:hover {
    background-color: black;
    color: red;
}